#-----------------------------------------------------------------------
# initiate:   systemctl enable {{ oath_bind_listener }}.service
# start:      systemctl start {{ oath_bind_listener }}.service
# get status: systemctl status {{ oath_bind_listener }}.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description={{ oath_bind_listener }} - AE-DIR bind listener
Requires=network.target local-fs.target remote-fs.target
After=local-fs.target remote-fs.target network.target
#Wants=ldap.service
#After=ldap.service

[Service]
Type=simple
#PIDFile=
ExecStart={{ aedir_python }} {{ aedir_sbin }}/{{ oath_bind_listener }}.py {{ oath_ldap_socket_path }} "{{ openldap_ldapi_uri }}????x-saslmech=EXTERNAL" {{ openldap_syncrepl_providers|join(' ') }}
User={{ oath_listener_user }}
Group={{ oath_listener_user }}

[Install]
WantedBy=multi-user.target
