[bind_proxy]

# Pathname of Unix domain socket where slapd-sock sends requests to
socket_path = {{ oath_ldap_socket_path }}

# LDAP URI specifying the parameters for searching user entries for
# which BIND requests have to be forwarded to OATH-LDAP providers
proxy_user_search = {{ openldap_ldapi_uri }}/{{ aedir_suffix }}??sub?(&(objectClass=aeUser)(aeStatus=0)(oathToken=*))

# logging level (key-word known in logging module)
log_level = INFO

# logging configuration file
log_config = {{ aedir_etc }}/ae-logging.conf

# logging qualifier name
log_name = oathldap_srv.bind_proxy

# UIDs which are granted access
allowed_uids = 0 ae-dir-slapd

# time in seconds for which to cache bind requests
# (set to negative number to disable caching)
cache_ttl = -1.0

# Time in seconds for which an unavailable OATH-LDAP provider will
# not be tried for subsequent BIND requests
# (Default: 120.0)
ldap_unreachable_ttl = 120.0

# CA certificate file to use for connecting to OATH-LDAP providers
cacert_file = {{ openldap_cacert_pathname }}

# Space- or line separated list of LDAP URIs of OATH-LDAP providers
providers =
{% for host in openldap_syncrepl_providers %}
  ldaps://{{ hostvars[host].get('openldap_service_fqdn',host) }}
{% endfor %}

# Space- or line separated list network or host addresses of clients for which bind
# requests might be proxied to an OATH-LDAP provider

# 1. peer addresses always excluded from proxying to OTP validator
noproxy_peer_addrs = {{ oath_ldap_noproxy_peer_addrs|join(' ') }}

# 2. peer addresses proxied to OTP validator (after checking noproxy_peer_addrs)
proxy_peer_addrs = {{ oath_ldap_proxy_peer_addrs|join(' ') }}

# 3. peer address nets proxied to OTP validator (final check)
proxy_peer_nets = {{ oath_ldap_proxy_peer_nets|join(' ') }}
