[hotp_validator]

# number of worker threads
threads = {{ (1, openldap_threads/4)|max }}

# Pathname of Unix domain socket where slapd-sock sends requests to
socket_path = {{ oath_ldap_socket_path }}

# LDAPI URI for connecting to local slapd
ldapi_uri = {{ openldap_ldapi_uri }}

# logging level (key-word known in logging module)
log_level = INFO

# logging configuration file
log_config = {{ aedir_etc }}/ae-logging.conf

# logging qualifier name
log_name = oathldap_srv.hotp_validator

# regex pattern defining whether request DN directly addresses a token entry
token_cmp_regex = ^serialNumber={{ aedir_aeauthctoken_serial_regex }},cn={{ aedir_aezone_cn_regex }},{{ aedir_db_params.um.suffix }}$

# time in seconds for which to cache bind requests
# (set to negative number to disable caching)
cache_ttl = -1.0

# Globbing pattern for searching JSON web key files (private keys)
# used for decrypting the shared secrets
primary_key_files = {{ oath_ldap_keys_dir }}/*.priv

# UIDs which are granted access
allowed_uids = 0 ae-dir-slapd
