#-----------------------------------------------------------------------
# initiate:   systemctl enable oathenroll.service
# start:      systemctl start oathenroll.service
# get status: systemctl status oathenroll.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=oathenroll - OATH-LDAP enrollment web application
Requires=network.target
After=network.target

[Service]
Type=simple
#PIDFile=
ExecStart={{ aedir_python }} {{ aedir_sbin }}/oathenroll.py 127.0.0.1:8081 {{ aedir_etc }}/oathenroll
User={{ oath_ldap_oathenroll_web_user }}
Group={{ oath_ldap_oathenroll_web_group }}

[Install]
WantedBy=multi-user.target
