#######################################################################
# Audit database {{ aedir_db_params.accesslog.suffix }}
#######################################################################

{{ mdb_params_config(aedir_db_params.accesslog) }}

#---------------------------------------------------------------------------
# Indexing configuration {{ aedir_db_params.accesslog.suffix }}
#---------------------------------------------------------------------------

index reqStart eq
index reqType eq
index reqDN eq
index reqAuthzID eq
index reqResult eq
index reqEntryUUID eq
index objectClass eq

#---------------------------------------------------------------------------
# User-specific search/time limits for {{ aedir_db_params.um.suffix }}
#---------------------------------------------------------------------------

# no limits for AE admins
limits
  group/aeGroup/member="cn=ae-admins,cn=ae,{{ aedir_db_params.um.suffix }}"
    time=unlimited
    size=unlimited

# no limits for AE auditors
limits
  group/aeGroup/member="cn=ae-auditors,cn=ae,{{ aedir_db_params.um.suffix }}"
    time=unlimited
    size=unlimited

# no limits for rootdn in {{ aedir_db_params.um.suffix }}, means local user root
limits
  dn.self.exact="cn=root,{{ aedir_db_params.um.suffix }}"
    time=unlimited
    size=unlimited

#---------------------------------------------------------------------------
# Access rights {{ aedir_db_params.accesslog.suffix }}
#---------------------------------------------------------------------------

access
  to dn.base="{{ aedir_db_params.accesslog.suffix }}"
    by group/aeGroup/member="cn=ae-admins,cn=ae,{{ aedir_db_params.um.suffix }}" read
    by group/aeGroup/member="cn=ae-auditors,cn=ae,{{ aedir_db_params.um.suffix }}" read
    by dn.exact="cn=root,{{ aedir_db_params.um.suffix }}" read
    by group/aeGroup/member="cn=ae-all-zone-admins,cn=ae,{{ aedir_db_params.um.suffix }}" read
    by * none

access
  to dn.onelevel="{{ aedir_db_params.accesslog.suffix }}"
    by group/aeGroup/member="cn=ae-admins,cn=ae,{{ aedir_db_params.um.suffix }}" read
    by group/aeGroup/member="cn=ae-auditors,cn=ae,{{ aedir_db_params.um.suffix }}" read
    by dn.exact="cn=root,{{ aedir_db_params.um.suffix }}" read
    by dnattr=reqAuthzID read
    by * none

#---------------------------------------------------------------------------
# Overlays used for {{ aedir_db_params.accesslog.suffix }}
#---------------------------------------------------------------------------

# for counting search results without retrieving them
{% if openldap_slapo_noopsrch %}
overlay noopsrch
{% endif %}

# for dereferencing control
overlay deref

