#######################################################################
# Audit database {{ aedir_accesslog_suffix }}
#######################################################################

database mdb

suffix "{{ aedir_accesslog_suffix }}"
directory {{ openldap_data }}/accesslog

{{ mdb_params_config(mdb_params.accesslog, aedir_accesslog_suffix) }}

#---------------------------------------------------------------------------
# Indexing configuration {{ aedir_accesslog_suffix }}
#---------------------------------------------------------------------------

index reqStart eq
index reqType eq
index reqDN eq
index reqAuthzID eq
index reqResult eq
index reqEntryUUID eq
index objectClass eq

#---------------------------------------------------------------------------
# User-specific search/time limits for {{ aedir_suffix }}
#---------------------------------------------------------------------------

# no limits for AE admins
limits
  group/aeGroup/member="cn=ae-admins,cn=ae,{{ aedir_suffix }}"
    time=unlimited
    size=unlimited

# no limits for AE auditors
limits
  group/aeGroup/member="cn=ae-auditors,cn=ae,{{ aedir_suffix }}"
    time=unlimited
    size=unlimited

# no limits for rootdn in {{ aedir_suffix }}, means local user root
limits
  dn.self.exact="cn=root,{{ aedir_suffix }}"
    time=unlimited
    size=unlimited

#---------------------------------------------------------------------------
# Access rights {{ aedir_accesslog_suffix }}
#---------------------------------------------------------------------------

access
  to dn.base="{{ aedir_accesslog_suffix }}"
    by group/aeGroup/member="cn=ae-admins,cn=ae,{{ aedir_suffix }}" read
    by group/aeGroup/member="cn=ae-auditors,cn=ae,{{ aedir_suffix }}" read
    by dn.exact="cn=root,{{ aedir_suffix }}" read
    by group/aeGroup/member="cn=ae-all-zone-admins,cn=ae,{{ aedir_suffix }}" read
    by * none

access
  to dn.onelevel="{{ aedir_accesslog_suffix }}"
    by group/aeGroup/member="cn=ae-admins,cn=ae,{{ aedir_suffix }}" read
    by group/aeGroup/member="cn=ae-auditors,cn=ae,{{ aedir_suffix }}" read
    by dn.exact="cn=root,{{ aedir_suffix }}" read
    by dnattr=reqAuthzID read
    by * none

#---------------------------------------------------------------------------
# Overlays used for {{ aedir_accesslog_suffix }}
#---------------------------------------------------------------------------

# for counting search results without retrieving them
overlay noopsrch

# for dereferencing control
overlay deref

