############################################################################
# OpenLDAP configuration for AE-DIR {{ openldap_role }}
# This file MUST NOT be world-readable!
# {{ ansible_managed }}
############################################################################

{% include 'global.conf.j2' %}

{% include 'config.conf.j2' %}

{% if aedir_accesslog_suffix %}
{% include 'accesslog.conf.j2' %}
{% endif %}

{% include 'um/general.conf.j2' %}

{% include 'um/indices.conf.j2' %}

# {{ openldap_role }} special indices

# general eq-only indexes
index mailLocalAddress eq
index mailRoutingAddress eq

{% include 'um/limits.conf.j2' %}

{% include 'um/acl-consumer.conf.j2' %}

#---------------------------------------------------------------------------
# overlays used within {{ aedir_suffix }}
#---------------------------------------------------------------------------

# for counting search results without retrieving them
overlay noopsrch

# for dereferencing attributes
overlay deref

{% include 'um/overlay-common.conf.j2' %}

{% include 'slapo-rwm.conf.j2' %}

{% include 'um/replication.conf.j2' %}

{% include 'monitor.conf.j2' %}
