############################################################################
# OpenLDAP configuration for AE-DIR {{ slapd_openldap_role }}
# This file MUST NOT be world-readable!
# {{ ansible_managed }}
############################################################################

{% include 'global.conf.j2' %}

#---------------------------------------------------------------------------
# password hash parameters
#---------------------------------------------------------------------------

password-hash {{ slapd_openldap_password_hash }}
{% if slapd_openldap_password_hash.upper()=='{CRYPT}' %}
password-crypt-salt-format "{{ slapd_openldap_password_crypt_salt_format }}"
{% endif %}

{% include 'config.conf.j2' %}

{% if slapd_aedir_accesslog_suffix %}
{% include 'accesslog.conf.j2' %}
{% endif %}

{% include 'um/general.conf.j2' %}

add_content_acl yes

{% include 'um/indices.conf.j2' %}

# {{ slapd_openldap_role }} special indices

# general eq-only indexes
index departmentNumber eq
index mailLocalAddress sub,eq
index mailRoutingAddress sub,eq
index memberURL pres
index rfc822MailMember sub,eq

# for host and network management
index aeNwDevice eq

# sub and eq indexes
index displayName sub,eq
index givenName sub,eq
index o sub,eq
index ou sub,eq
index sn sub,eq

# zones
index aeABAccessGroups pres,eq
index aePasswordAdmins pres,eq
index aeZoneAdmins pres,eq
index aeZoneAuditors pres,eq

# for person/employee references
index aeDept eq
index aeLocation eq
index employeeNumber eq
index uniqueIdentifier eq

# Meta data
index aeNotBefore,aeNotAfter pres,eq

# hardware devices
index aeOwner eq

# for OATH-LDAP (indexes only needed on provider)
index oathHOTPParams eq
index oathHOTPToken eq
index oathTokenIdentifier eq
index oathTOTPParams eq
index oathTOTPToken eq

{% include 'um/limits.conf.j2' %}

{% include 'um/acl-provider.conf.j2' %}

#---------------------------------------------------------------------------
# overlays used within {{ slapd_aedir_suffix }}
#---------------------------------------------------------------------------

# for counting search results without retrieving them
overlay noopsrch

# for dereferencing attributes
overlay deref

{% include 'um/overlay-provider.conf.j2' %}

{% include 'um/overlay-common.conf.j2' %}

{% include 'um/slapo-rwm.conf.j2' %}

{% include 'um/replication.conf.j2' %}

{% if slapd_openldap_syncrepl_providers %}
mirrormode true
{% endif %}

{% if slapd_aedir_session_suffix %}
{% include 'session.conf.j2' %}
{% endif %}

{% include 'monitor.conf.j2' %}
