# {{ ansible_managed }}
dn: 
defaultNamingContext: {{ slapd_aedir_suffix }}
aeRoot: {{ slapd_aedir_suffix }}
host: {{ slapd_openldap_service_fqdn }}
{% for host in slapd_openldap_rootdse_alt_servers %}
altServer: ldaps://{{ hostvars[host].get('slapd_openldap_service_fqdn',host) }}
{% endfor%}

