# OpenSSL config for generating PKCS#10 CSRs
# You have to adjust the parameters herein to match your own CA/PKI needs
#
# File format:
# https://www.openssl.org/docs/man1.1.1/man1/req.html#CONFIGURATION-FILE-FORMAT
#
# {{ ansible_managed }}

[ req ]

distinguished_name = csr_dn
default_bits = 2048
encrypt_rsa_key = no
encrypt_key = no
attributes = csr_attributes
req_extensions = csr_extensions
default_md = sha256
string_mask = utf8only
prompt = no

[ csr_dn ]



[ csr_attributes ]

#challengePassword = A challenge password
#challengePassword_min = 16
#challengePassword_max = 20

[ csr_extensions ]

# include a prompt for alternative names
subjectAltName = {{ openldap_csr_subjectaltnames|join(',')}}
