# AppArmor profile for ae-apache
# {{ ansible_managed }}

{% if apparmor_abi_version %}
abi <abi/{{ apparmor_abi_version }}>,
{% endif %}

#include <tunables/global>

profile ae-apache flags=(attach_disconnected) {

  #include <ae-dir/abstractions/base>
  #include <ae-dir/abstractions/nameservice>

  capability net_bind_service,

  # Allow unconfined processes to send us signals by default
  signal (receive) peer=unconfined,
  # Allow us to signal ourselves
  signal peer=@{profile_name},

  # access to dynamically loadable modules
{% for mod in apache2_config.modules %}
  {{ apache2_config.mod_dir }}/mod_{{ mod }}.so rm,
{% endfor %}
{% if apache_status_urlpath %}
  {{ apache2_config.mod_dir }}/mod_status.so rm,
{% endif %}

  # access to config files
  {{ apache_conf }} r,
  /etc/mime.types r,

{% if apache_pid_file!="" %}
  # the PID file
  {{ apache_pid_file }} rw,
  {{ apache_pid_file }}.[0-9a-zA-Z][0-9a-zA-Z][0-9a-zA-Z][0-9a-zA-Z][0-9a-zA-Z][0-9a-zA-Z] rw,
{% endif %}

  # allow r/w access to SSL session cache
  {{ apache2_config.run_dir }}/ssl_scache rw,

  # allow r/w access to access log file
  {{ apache_access_log }} rw,

  # access to TLS-related files
  {{ apache_cacert_pathname }} r,
  {{ apache_cert_pathname }} r,
  {{ apache_key_pathname }} r,

  # access to static htdocs/ files
  {{ aedir_htdocsdir }}/** r,

  # access to web2ldap's static CSS files
  {{ web2ldapcnf_prefix }}/css/*.css r,

  # access to gunicorn's Unix domain sockets
  {{ aedir_rundir }}/web2ldap/web2ldap.sock wr,
  {{ aedir_rundir }}/ae-dir-pwd/ae-dir-pwd.sock wr,
  {{ aedir_rundir }}/oathenroll/oathenroll.sock wr,

}
