# AppArmor profile for service {{ openldap_service_name }}
# {{ ansible_managed }}

{% if apparmor_abi_version %}
abi <abi/{{ apparmor_abi_version }}>,
{% endif %}

#include <tunables/global>

profile {{ openldap_service_name }} flags=(attach_disconnected) {

  #include <ae-dir/abstractions/base>
  #include <ae-dir/abstractions/nameservice>

  #include <ae-dir/abstractions/ldapclient>

  capability net_bind_service,

  # access to dynamically loadable modules
  {{ openldap_path.modules }}/* rm,

  # access to config
  {{ openldap_slapd_conf }} r,
  {{ openldap_slapd_conf|dirname }}/rootDSE.ldif r,
  {{ openldap_path.conf_prefix }}/schema/*.schema r,
  {{ aedir_schema_prefix }}/*.schema r,

  # allow r/w access to PID and args files
  {{ openldap_rundir }}/slapd.pid rw,
  {{ openldap_rundir }}/slapd.args rw,

  # allow r/w access to database files
{% for db_name, db_params in aedir_db_params.items() %}
  owner {{ db_params.directory }}/{DUMMY,data.mdb,lock.mdb} rwk,
{% endfor %}

  # access to TLS-related files
  {{ openldap_cacert_pathname }} r,
{% if openldap_cert_pathname %}
  {{ openldap_cert_pathname }} r,
{% endif %}
{% if openldap_key_pathname %}
  {{ openldap_key_pathname }} r,
{% endif %}
  {{ openldap_dhparam_pathname }} r,

{% if oath_ldap_enabled==True %}
  # allow r/w access to external bind listener (for OATH-LDAP)
  {{ oath_ldap_socket_path }} rw,
{% endif %}

{% if openldap_role=="provider" and aedir_pwsync_targeturl is defined %}
  # allow r/w access to external pwsync listener
  {{ aedir_pwsync_socket_path }} rw,
{% endif %}

  # access to OpenLDAP's client libs
  {{ openldap_path.libdir }}/lib{lber,ldap}* rm,
  # access to OpenLDAP's client config
  {{ openldap_path.conf_prefix }}/ldap.conf rm,

{% if lsb_id!="Debian" and lsb_id!="Ubuntu" %}
  # SASL config for slapd
  /etc/sasl2/slapd.conf r,
{% endif %}

}
