# AppArmor profile for hotp_validator installed in virtual env {{ apparmor_aedir_prefix }}
# {{ ansible_managed }}

#include <tunables/global>

profile {{ apparmor_oath_bind_listener }} {

  #include <ae-dir/abstractions/apparmor_oath_bind_listener>

  # grant read access to service config
  {{ apparmor_oath_ldap_cfg_dir }}/{{ apparmor_oath_bind_listener }}/ r,
  {{ apparmor_oath_ldap_cfg_dir }}/{{ apparmor_oath_bind_listener }}/{{ apparmor_oath_bind_listener }}.cfg r,

}
