# AppArmor profile for WSGI application {{ name }}
# installed in virtual env {{ aedir_prefix }}
# {{ ansible_managed }}

{% if apparmor_abi_version %}
abi <abi/{{ apparmor_abi_version }}>,
{% endif %}

#include <tunables/global>

profile {{ name }} flags=(attach_disconnected) {

  #include <ae-dir/abstractions/gunicorn>

  # access to {{ name }} application config
  {{ cfgdir }}/ r,
  {{ cfgdir }}/** r,

{% if name=="web2ldap" %}
  # read access to CA cert for LDAPS
  {{ openldap_cacert_pathname }} r,

  # LDIF input field needs to write temporary field
  owner /tmp/* rw,
{% endif %}

{% if name=="ae-dir-pwd" or name=="oathenroll" %}
  # access to CA cert for sending e-mail
  {{ smtp_cacert_pathname }} r,

  # Allow us to signal ourselves
  signal peer=@{profile_name},
{% endif %}

  {{ aedir_rundir }}/{{ name }}/ rw,
  # allow r/w access to own heart-beat temporary file
  owner {{ aedir_rundir }}/{{ name }}/wgunicorn-[0-9a-z_][0-9a-z_][0-9a-z_][0-9a-z_][0-9a-z_][0-9a-z_][0-9a-z_][0-9a-z_] rw,
  # allow r/w access to own Unix domain socket
  owner {{ aedir_rundir }}/{{ name }}/{{ name }}.sock rw,

}
