#-----------------------------------------------------------------------
# initiate:   systemctl enable aedirpwd.service
# start:      systemctl start aedirpwd.service
# get status: systemctl status aedirpwd.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=aedirpwd - AE-DIR password self-service web application
Requires=local-fs.target network.target
After=local-fs.target network.target

[Service]
Type=simple
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
Environment=LDAPNOINIT=1
Environment=PYTHONPATH={{ aedir_etc }}/aedirpwd
Environment=PYTHONOPTIMIZE=2
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart={{ uwsgi_paths[lsb_id].exec }} --strict --ini {{ aedir_etc }}/uwsgi/aedirpwd.ini
User={{ aedirpwd_web_user }}
Group={{ aedirpwd_web_group }}
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
# various hardening options
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
{% if apparmor_enabled %}
AppArmorProfile=aedirpwd
{% endif %}

[Install]
WantedBy=multi-user.target
