#-----------------------------------------------------------------------
# initiate:   systemctl enable aedirpwd.service
# start:      systemctl start aedirpwd.service
# get status: systemctl status aedirpwd.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=aedirpwd - AE-DIR password self-service web application
Requires=network.target local-fs.target remote-fs.target
After=local-fs.target remote-fs.target network.target
#Wants=ldap.service
#After=ldap.service

[Service]
Type=simple
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
Environment=PYTHONPATH={{ aedir_etc }}/aedirpwd
Environment=PYTHONOPTIMIZE=2
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart={{ uwsgi_paths[lsb_id].exec }} --ini {{ aedir_etc }}/uwsgi/aedirpwd.ini
User={{ aedirpwd_web_user }}
Group={{ aedirpwd_web_group }}
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
# various hardening options
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
NoNewPrivileges=yes
{% if apparmor_enabled %}
AppArmorProfile=aedirpwd
{% endif %}

[Install]
WantedBy=multi-user.target
