#-----------------------------------------------------------------------
# initiate:   systemctl enable aedir.service
# start:      systemctl start aedir.service
# get status: systemctl status aedir.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=aedirpwd - AE-DIR password self-service web application
Requires=network.target local-fs.target remote-fs.target
After=local-fs.target remote-fs.target network.target
#Wants=ldap.service
#After=ldap.service

[Service]
Type=simple
#PIDFile=
ExecStart={{ aedir_python }} {{ aedir_sbin }}/aedirpwd_web.py 127.0.0.1:8080 {{ aedir_etc }}/aedirpwd
User={{ aedirpwd_web_user }}
Group={{ aedirpwd_web_group }}

[Install]
WantedBy=multi-user.target
