$def with (message, pw1_len, pw2_len, serial='')
$var title: Initialize OATH Token

<div id="content">

  <h1>Initialize OATH Token</h1>

  $if message:
      <p class="message">
          $message
      </p>

  <form
    method="POST"
    action="init"
    enctype="application/x-www-form-urlencoded"
    accept-charset="utf-8"
  >

    <fieldset>
      <legend>OATH-LDAP enrollment parameters</legend>
      <table>
        <tr>
          <th>Token serial no.:</th>
          <td>
            <input name="serial" value="$serial" size="20">
          </td>
        </tr>
        <tr>
          <th>Enrollment Password #1:</th>
          <td>
            <input name="epw1" value="" size="$pw1_len">
          </td>
        </tr>
        <tr>
          <th>Enrollment Password #2:</th>
          <td>
            <input name="epw2" value="" size="$pw2_len">
          </td>
        </tr>
        <tr>
          <th>Shared Secret:</th>
          <td>
            <textarea name="secret" cols="50" rows="10" value="">
            </textarea>
          </td>
        </tr>
      </table>
    </fieldset>

    <input type="submit" class="submit" name="submit" value="Initialize token">

  </form>

  <ul class="tip">
    <li>
      Don't know what the above means?<br>
      <strong>
        Then don't do anything here now!
      </strong><br>
      Please consult the <a href="/oath.html">user guide for OATH-LDAP enrollment</a>.
    </li>
  </ul>

</div>
