$def with (content)
<!DOCTYPE html>
<html>

  <head>
    <title>$content.title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <base target="_top">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="x-frame-options" content="deny">
    <meta name="Cache-Control" content="private">
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/ae-dir.css"
      integrity="sha512-kO5RzqDTEFllNW/B5XhG1NhVIUQug8xaqPVU4syg2LMDgGYlcVU8uYJDmMxVnJ/rRx1prV/Q7gv/yNbhgwpCVw=="
    >
    <link
      href="/css/ae-web-app.css"
      rel="stylesheet"
      type="text/css"
      integrity="sha512-1b0n4cgjMEgkRwDzF3XdPbsAyvf4vKlKX4qgRXoDk65Lv74KX2cS9kkCBZFWGV5xdCd6WvHgSkU5dZEXA4RE3g=="
    >
  </head>

  <body>

    <div id="navigation">
      <a title="Overview of OATH-LDAP Token Enrollment Service" href=".">OATH-LDAP</a> /
      <a title="Reset OATH token and request enrollment password" href="reset">Reset</a>
    </div>

    $:content

    <p id="footer">
      <a href="/oath.html"
         title="Read user guide for OATH-LDAP Token Enrollment Service">User guide</a>
      //
      <a href="/web2ldap"
         title="Access to web2ldap application">web2ldap</a>
      //
      <a href="/pwd/"
         title="Access to &AElig;-DIR password self-service">Password self-service</a>
    </p>

  </body>

</html>
