{% extends aedir_htdocs_layout %}

{% block head_title %}Authorized Entities Directory{% endblock %}
{% block head_pagedescription %}Authorized Entities Directory{% endblock %}

{% block content %}
<p>
  <a href="https://{{ aedir_main_provider_hostname }}/web2ldap"
     title="Access to administration UI (web2ldap)">Admin UI (web2ldap)</a> //
  <a href="https://{{ aedir_main_provider_hostname }}/pwd/"
     title="Access to &AElig;-DIR password self-service">Password self-service</a> //
  <a href="https://{{ aedir_main_provider_hostname }}/oath/"
     title="Access to OATH-LDAP Token Enrollment Service">OATH enrollment</a>
</p>

<p>
  <strong>&AElig;-DIR</strong> is an acronym for
  <em>Authorized Entities Directory</em>
  (and a small Unicode challenge), an LDAP service based on
  <a href="https://www.openldap.org">OpenLDAP</a> which
  implements a Privileged Identity &amp; Access Management (IAM/PIM/PAM)
</p>

{% if aedir_news %}
<p id="news">
  News:
</p>
<ul>
{% for news_item in aedir_news %}
    <li>{{ news_item }}</li>
{% endfor %}
</ul>
{% endif %}

<p id="objectives">
  Objectives:
</p>
<ul>
  <li>Strictly follow <strong>need to know</strong> and <strong>least privilege</strong> principles</li>
  <li>Agile data maintenance by consequent delegation of manageable small areas</li>
  <li>Provide meaningful audit trails</li>
  <li>Compliance</li>
</ul>

<p>
  Design paradigms:
</p>
<ul>
  <li>Explicit is better than implicit</li>
  <li>Secure authorization requires secure authentication</li>
  <li>No anonymous access at all</li>
  <li>Individual authentication instead of shared credentials</li>
  <li>Avoid all-mighty proxy roles</li>
  <li>Rights assignment / permission granting always based on groups</li>
  <li>Do not assume hierarchical structure</li>
  <li>A person is not an user account</li>
  <li>Role separation with multiple user accounts per person</li>
  <li>Persistent IDs (never re-used) for reliable audit trails</li>
  <li>Only encrypted network traffic</li>
  <li>Well-defined semantics for all object classes and attributes (better no data than bad data)</li>
</ul>

<p>
  For a longer introduction you can check out various
  <a href="https://stroeder.com/publications.html">
  &AElig;-DIR conference presentations</a>.
</p>
{% endblock content %}
