{% set head_title="Authorized Entities Directory" -%}
{% set head_pagedescription="Authorized Entities Directory" -%}

{% extends aedir_htdocs_layout %}
{% block content %}
<p>
  <strong>&AElig;-DIR</strong> is an acronym for
  <em>Authorized Entities Directory</em>
  (and a small Unicode challenge), an LDAP service based on
  <a href="https://www.openldap.org">OpenLDAP</a>
</p>

<p>
  For a longer introduction you can check out various
  <a href="https://stroeder.com/publications.html">
  &AElig;-DIR conference presentations</a>.
</p>

<p>
  Project goals:
</p>
<ul>
  <li>Strictly follow <strong>need to know</strong> and <strong>least privilege</strong> principles</li>
  <li>Consequently delegate administration of manageable small areas</li>
  <li>Provide meaningful audit trails</li>
  <li>Compliance</li>
</ul>

<p>
  Technical design paradigms:
</p>
<ul>
  <li>Explicit is better than implicit</li>
  <li>Secure authorization requires secure authentication</li>
  <li>No anonymous access at all</li>
  <li>Individual authentication instead of shared credentials</li>
  <li>Avoid all-mighty proxy roles</li>
  <li>Rights assignment / permission granting always based on groups</li>
  <li>Do not assume hierarchical structure</li>
  <li>A person is not an user account</li>
  <li>Role separation with multiple user accounts per person</li>
  <li>Persistent IDs (never re-used) for reliable audit trails</li>
  <li>Only encrypted network traffic</li>
  <li>Well-defined semantics for all object classes and attributes (better no data than bad data)</li>
</ul>
{% endblock %}
