{% set head_title="Demo" -%}
{% set head_pagedescription="Online demonstration" -%}

{% extends "layout.html.j2" %}
{% block content %}
<h1>Demo accounts</h1>
<table>
  <tr>
    <th>Role</th>
    <th>User name</th>
    <th>Password</th>
  </tr>
  <tr>
    <td><a href="docs.html#role-ae-admin">&AElig; Admin</a></td>
    <td>aead</td>
    <td>CorrectHorseBatteryStaple</td>
  </tr>
  <tr>
    <td><a href="docs.html#role-zone-admin">Zone Admin (in zone test)</a></td>
    <td>zots</td>
    <td>CorrectHorseBatteryStaple</td>
  </tr>
</table>
<p>
  You have write access and you can add/modify entries.
  Every now and then I will reload the initial database.
</p>

<h1>Web user interface</h1>
<p>
  <a href="https://demo.ae-dir.com/web2ldap">https://demo.ae-dir.com/web2ldap</a>
  shows direct login links
</p>

<h1>LDAP access</h1>
<table>
  <tr>
    <td>Hostname/Port (via TLS)</td>
    <td>demo.ae-dir.com:636</td>
  </tr>
  <tr>
    <td>Search base</td>
    <td>{{ aedir_suffix }}</td>
  </tr>
  <tr>
    <td>LDAP URL</td>
    <td><code>ldaps://demo.ae-dir.com/{{ aedir_suffix }}</code></td>
  </tr>
</table>
<p>
  Use with OpenLDAP command-line tools (with standard CA cert bundle for
  validating the server cert issued by
  <a href="https://letsencrypt.org/">Let’s Encrypt</a>):
</p>

<pre>
$ LDAPTLS_CACERT=/etc/ssl/ca-bundle.pem ldapwhoami -H ldaps://demo.ae-dir.com -x -D "uid=zots,{{ aedir_suffix }}" -w CorrectHorseBatteryStaple
dn:uid=zots,cn=test,{{ aedir_suffix }}
</pre>

<pre>
LDAPTLS_CACERT=/etc/ssl/ca-bundle.pem ldapsearch -LLL -H ldaps://demo.ae-dir.com -x -D "uid=zots,{{ aedir_suffix }}" -w CorrectHorseBatteryStaple -b "{{ aedir_suffix }}" "(uid=zots)"
dn: uid=zots,cn=test,{{ aedir_suffix }}
uid: zots
uidNumber: 30019
cn:: SG9yc3QgUsO8YmV6YWhs
objectClass: account
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: aeObject
objectClass: aeUser
objectClass: posixAccount
objectClass: ldapPublicKey
aePerson: uniqueIdentifier=INIT-PERSON-ID-42,cn=people,{{ aedir_suffix }}
mail: horst@example.com
&hellip;
</pre>
{% endblock %}
