{% extends aedir_htdocs_layout %}

{% block head_title %}Next steps / to-do list{% endblock %}
{% block head_pagedescription %}To-do items, ideas, next steps{% endblock %}

{% block content %}

<p>
  In no particular order...
</p>

<h1 id="done">Done</h1>

<ol>
  <li><a href="#mfa">Multi-factor authc</a></li>
</ol>

<h2 id="mfa">Multi-factor authc</h2>
<ul>
  <li>
    integrated <a href="https://oath-ldap.stroeder.com/">OATH-LDAP</a>
  </li>
  <li>
    based on <a href="https://www.stroeder.com/slapdsock.html">slapd-sock listener</a>
  </li>
</ul>

<h1 id="open">Open</h1>

<ol>
  <li><a href="#sso">WebSSO</a></li>
  <li><a href="#pki">X.509 PKI</a></li>
  <li><a href="#ansible">ansible</a></li>
  <li><a href="#logging">Logging</a></li>
  <li><a href="#monitoring">Monitoring</a></li>
  <li><a href="#apparmor">AppArmor</a></li>
  <li><a href="#pxe">PXE/DHCP/TFTP integration</a></li>
  <li><a href="#nac">Network Access Control (NAC)</a></li>
  <li><a href="#radius">RADIUS</a></li>
  <li><a href="#ae-dir-demon">PAM/NSS caching demon</a></li>
  <li><a href="#dns">DNS</a></li>
  <li><a href="#ui">User Interface</a></li>
  <li><a href="#browser">Browser integration/security</a></li>
  <li><a href="#python3">Python 3.x</a></li>
  <li><a href="#compliance">Compliance checks</a></li>
</ol>

<h2 id="sso">WebSSO</h2>
<p>Possible IdP implementations for SAML 2.0, OAuth 2.0, Open ID connect:</p>
<table>
  <tr>
    <th>Project name</th>
    <th>License</th>
    <th>Programming<br>Language</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td>
      <a href="https://pypi.python.org/pypi/pysaml2">pysaml2</a>
      and
      <a href="https://pypi.python.org/pypi/oic">oic</a> /
      <a href="https://pypi.python.org/pypi/pyop">pyop</a>
    </td>
    <td>Apache License 2.0</td>
    <td>Python</td>
    <td>
      <ul>
        <li>no ready-to-use web application</li>
        <li>much work to implement missing pieces</li>
        <li>highest flexibility</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><a href="https://ipsilon-project.org/">ipsilon</a></td>
    <td>GPLv3</td>
    <td>Python</td>
    <td>
      <ul>
        <li>many dependencies especially on FreeIPA/sssd modules</li>
        <li>hard to install</li>
        <li>bad documentation</li>
        <li>seems unmaintained</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><a href="http://www.keycloak.org/documentation.html">keycloak</a></td>
    <td>Apache License 2.0</td>
    <td>Java</td>
    <td>
      <ul>
        <li>runs within <em>wildfly</em></li>
        <li>easy too install test deployment</li>
        <li>complex hardening needed</li>
      </ul>
    </td>
  </tr>
</table>

<h2 id="pki">X.509 PKI</h2>
<ul>
  <li>
    Issue server certs to
    <a href="docs.html#schema-oc-aeHost">aeHost</a>,
    <a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a>,
    <a href="docs.html#schema-oc-aeService">aeService</a> or
    <a href="docs.html#schema-oc-aeSrvGroup">aeSrvGroup</a>
    based on authorization of role
    <a href="docs.html#role-setup-admins">Setup Admins</a>
  </li>
  <li>
    see also <a href="https://ldapcon.org/2017/x-509-pki-ra-schema-for-ae-dir/">
    LDAPcon 2017 talk: X.509 PKI RA schema for Æ-DIR</a>
  </li>
  <li>
    direct ansible integration for server cert enrollment
  </li>
  <li>
    X.509 cert enrollment for <a href="docs.html#schema-oc-aeUser">aeUser</a>
    with <a href="#mfa">multi-factor authc</a>
  </li>
  <li>
    use X.509 certs as SSH authorized keys instead of attribute
    <var>sshPublicKey</var>
  </li>
  <li>
    remote CA keys
    (e.g. based on <a href="https://github.com/leifj/pyeleven">pyeleven</a>
    and <a href="https://github.com/LudovicRousseau/PyKCS11">PyKCS11</a>)
  </li>
  <li>
    Are there ready-to-use PKI backend solutions in Python?
    <li>
      <a href="https://serverpki.readthedocs.io/en/latest/">serverPKI</a>
    </li>
    <li>
      <a href="https://github.com/laurivosandi/certidude">certidude</a>
    </li>
  </li>
</ul>

<h2 id="ansible">ansible</h2>
<ul>
  <li>
    Automated authentication configuration (set <var>userPassword</var>) for
    <a href="docs.html#schema-oc-aeHost">aeHost</a> and
    <a href="docs.html#schema-oc-aeService">aeService</a>
  </li>
  <li>
    <a
    href="https://docs.ansible.com/ansible/developing_inventory.html">
    Dynamic inventory</a> module for accessing attributes in
    &AElig;-DIR entries
  </li>
  <li>
    proper keyring support (inspired by Mirko's
    <a href="https://gist.github.com/mfriedenhagen/e488235d732b7becda81#file-password_from_keyring-py">password_from_keyring-py</a>)
  </li>
</ul>

<h2 id="logging">Logging</h2>
<ul>
  <li>
    Log performance data as
    <a href="https://docs.graylog.org/en/2.2/pages/gelf.html">Graylog Extended Log Format (GELF)</a>
  </li>
  <li>
    The web applications should use Python's <em>logging module</em>
    and file <em>ae-logging.conf</em>
  </li>
  <li>
    Add
    <a href="https://github.com/blue-yonder/cee_syslog_handler">cee_syslog_handler</a>
    in file <em>ae-logging.conf</em>
  </li>
</ul>

<h2 id="monitoring">Monitoring</h2>
<ul>
  <li>
    monitor whether PAM/NSS client still has valid configuration
  </li>
</ul>

<h2 id="apparmor">AppArmor</h2>
<p>
  Automatically install correct profiles to run
  <a href="http://wiki.apparmor.net">AppArmor</a> in mandatory mode.
</p>

<h2 id="pxe">PXE/DHCP/TFTP integration</h2>
<ul>
  <li>
    Extend one of the following Python demon implementations to look up
    correct boot config in &AElig;-DIR:
    <ul>
      <li>
        <a href="https://github.com/mpetazzoni/ptftpd">ptftpd</a> (GPLv3)
      </li>
      <li>
        <a href="https://github.com/psychomario/PyPXE">PyPXE</a> (MIT License)
      </li>
    </ul>
  </li>
  <li>
    make use of <a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a>
  </li>
</ul>

<h2 id="nac">Network Access Control (NAC)</h2>
<ul>
  <li>
    <a href="https://en.wikipedia.org/wiki/IEEE_802.1X">IEEE 802.1X</a>
  </li>
  <li>
    <a href="https://libvirt.org/formatnwfilter.html">libvirt network filters</a>
  </li>
  <li>
    make use of <a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a>
  </li>
</ul>

<h2 id="radius">RADIUS</h2>
<p>
  Support for RADIUS with dynamic RADIUS client configuration
  (see also <a href="#nac">NAC</a>).
</p>
<ul>
  <li>
    <a href="https://freeradius.org/">FreeRADIUS</a>:
    has many features, basic LDAP authc out-of-the-box
  </li>
  <li>
    <a href="http://www.bsdradius.org/">BSDRadius</a>:
    needs own module
  </li>
  <li>
    thin implementation based on
    <a href="https://github.com/wichert/pyrad">pyrad</a>
  </li>
</ul>

<h2 id="ae-dir-demon">PAM/NSS caching demon</h2>
<dl>
  <dt>Improve Performance</dt>
  <dd>
    &AElig;-DIR-specific caching demon knows the data and therefore can search
    more efficiently without local configuration (see notes about
    <a href="apps.html#pam-nss-smart">smart clients</a>)
  </dd>
  <dt>Automation / Recovery on error (PAM)</dt>
  <dd>
    special system user for
    <a href="docs.html#schema-oc-aeHost">aeHost</a> with host
    password allowed to set system password in local configuration
  </dd>
  <dt>Location-specific replicas</dt>
  <dd>
    read DC locations in attribute <var>aeLocation</var> of
    <a href="docs.html#schema-oc-aeHost">aeHost</a> entry
    to determine &quot;near&quot; consumer replicas to access
  </dd>
  <dt>Monitoring</dt>
  <dd>
    integrated monitoring (alarming and performance)
  </dd>
  <dt>Maps</dt>
  <dd>
    <dl>
      <dt>group</dt>
      <dd>
        <ul>
          <li>
            The <em>group</em> map could be extended with generic groups
            based on <a href="docs.html#schema-oc-aeSrvGroup-attributes">
            rights groups attributes</a> with well-known <var>gidNumber</var>.
          </li>
          <li>
            Add virtual groups for the <var>gidNumber</var> set in
            <a href="docs.html#schema-oc-aeUser-attributes">aeUser</a>
            entries.
          </li>
        </ul>
      </dd>
      <dt>aliases</dt>
      <dd>
        For simple mail forwarding the <em>aliases</em> map should be
        supported with generic aliases based on
        <a href="docs.html#schema-oc-aeSrvGroup-attributes">
        rights groups attributes</a>.
      </dd>
      <dt>hosts</dt>
      <dd>
        Do hosts lookup similar to ideas for <a href="#dns">DNS</a>.
      </dd>
      <dt>ethers</dt>
      <dd>
        The <em>ethers</em> map could be virtually provided for hosts
        within the same local network (collision domain) similar to
        ideas for <a href="#nac">Network Access Control</a>.
      </dd>
    </dl>
  </dd>
  <dt>Implementation details</dt>
  <dd>
    <ul>
      <li>
        use PAM/NSS frontend modules of
        <a href="https://arthurdejong.org/nss-pam-ldapd/">nss-pam-ldapd</a>
      </li>
      <li>
        eventually fix and extend Arthur's
        <a href="https://arthurdejong.org/nss-pam-ldapd/pynslcd.8">pynslcd(8)</a>
      </li>
      <li>
        eventually use
        <a href="http://www.grantjenks.com/docs/diskcache/">DiskCache</a>
        for persistent caching
      </li>
      <li>
        Support using X.509 TLS client certs for
        <a href="apps.html#sasl-external-bind">SASL/EXTERNAL</a>
        bind
      </li>
      <li>
        Look at off-line sync with
        <a href="https://github.com/google/nsscache">nsscache</a> /
        <a href="https://github.com/google/libnss-cache">libnss-cache</a>
      </li>
    </ul>
  </dd>
</dl>

<h2 id="dns">DNS</h2>
<ul>
  <li>
    use PowerDNS to serve attributes as DNS RRs to augment regular DNS service:
    <ul>
      <li><a href="docs.html#schema-oc-aeHost">aeHost</a> (A and PTR)</li>
      <li><a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a> (A and PTR)</li>
      <li><a href="docs.html#schema-oc-aeZone">aeZone</a> (SOA)</li>
    </ul>
  </li>
  <li>
    <a href="http://jpmens.net/2015/11/03/powerdns-with-the-remote-back-end-and-dnssec/">
    use remote backend (preferrably with DNSSEC)</a> via
    <a href="https://github.com/cmouse/pdns-remotebackend-python">pdns-remotebackend-python</a>
  </li>
</ul>

<h2 id="ui">User Interface</h2>
<ul>
  <li>
    specific web application for administrative use-cases
  </li>
  <li>
    Python / flask / WTForms&hellip;
  </li>
  <li>
    Simple reporting use-cases (expired objects etc.).
  </li>
  <li>
    Graph reporting of data structures in a zone.
  </li>
</ul>

<h2 id="browser">Browser integration/security</h2>
<ul>
  <li>
    Make use of <em>Subresource Integrity</em> either with
    ansible-generated hashes or on-the-fly-generation in the web app(s):
    <ul>
      <li>
        <a href="https://www.w3.org/TR/SRI/">Subresource Integrity - W3C Recommendation</a>
      </li>
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity">
          Using Subresource Integrity | Mozilla Developer Network (MDN)</a>
      </li>
      <li>
        <a href="https://caniuse.com/subresource-integrity">
          Browser support (caniuse.com)</a>
      </li>
    </ul>
  </li>
</ul>

<h2 id="python3">Python 3.x</h2>
<p>Possible LDAP modules with support for Python 3.x:</p>
<table>
  <tr>
    <th>Module</th>
    <th>License</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td><a href="https://github.com/cannatag/ldap3">ldap3</a></td>
    <td>LGPLv3</td>
    <td>
      <ul>
        <li>supports Python 2.7 and 3.4+</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><a href="https://github.com/noirello/bonsai">bonsai</a></td>
    <td>MIT</td>
    <td>
      <ul>
        <li>only Python 3.4+</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><a href="https://python-ldap.org">python-ldap</a></td>
    <td>Python-style</td>
    <td>
      <ul>
        <li>In theory provides Python 2 compability (needs testing)</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><a href="https://pypi.python.org/pypi/ldap0">ldap0</a></td>
    <td>Python-style</td>
    <td>
      <ul>
        <li>needs work to support Python 3</li>
      </ul>
    </td>
  </tr>
</table>

<h2 id="compliance">Compliance checks</h2>
<p>Prepare compliance statements:</p>
<ul>
  <li>
    <a href="https://benchmarks.cisecurity.org/downloads/latest/">CIS benchmarks</a>
  </li>
  <li>
    <a href="https://www.bsi.bund.de/DE/Themen/ITGrundschutz/ITGrundschutzKataloge/Inhalt/_content/baust/b05/b05020.html">BSI Grundschutz</a>
  </li>
</ul>
{% endblock content %}
