{% set head_title="User Guide" -%}
{% set head_pagedescription="User Guide" -%}

{% extends "layout.html.j2" %}
{% block content %}
<dl>
  <dt><a href="web2ldap.html">web2ldap</a></dt>
  <dd>
    Using the administrative web interface
  </dd>
  <dt><a href="pwd.html">Password self-service</a></dt>
  <dd>
    Using the password self-service web interface
  </dd>
  <dt><a href="oath.html">OATH-LDAP enrollment</a></dt>
  <dd>
    Using the OATH-LDAP enrollment web interface
  </dd>
  <dt><a href="cli.html">Command-line tools</a></dt>
  <dd>
    Using the command line tools (only for role
    <a href="docs.html#role-ae-admin">&AElig; Admin</a>)
  </dd>
</dl>
{% endblock %}
