{% extends aedir_htdocs_layout %}

{% block head_title %}User Guide{% endblock %}
{% block head_pagedescription %}User Guide{% endblock %}

{% block content %}

<table>
  <tr>
    <th>
      User guide
    </th>
    <th>
      Access
    </th>
  </tr>
  <tr>
    <td>
      <a href="web2ldap.html">web2ldap</a>
    </td>
    <td>
      <a href="https://{{ aedir_main_provider_hostname }}/web2ldap"
         title="Access to administration UI (web2ldap)">Admin UI (web2ldap)</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="pwd.html">Password self-service</a>
    </td>
    <td>
      <a href="https://{{ aedir_main_provider_hostname }}/pwd/"
         title="Access to &AElig;-DIR password self-service">Password self-service</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="oath.html">OATH-LDAP enrollment</a>
    </td>
    <td>
      <a href="https://{{ aedir_main_provider_hostname }}/oath/"
         title="Access to OATH-LDAP Token Enrollment Service">OATH enrollment</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="cli.html">Command-line tools</a>
    </td>
    <td>
      -
    </td>
  </tr>
</table>
{% endblock content %}
