#!/bin/sh
# shell wrapper script for generating OpenMetrics output
# {{ ansible_managed }}

# disable use of ldap.conf
LDAPNOINIT=1
export LDAPNOINIT

{{ aedir_python }} -m slapdcheck.{{ slapdcheck_module }} {{ aedir_etc }}/slapdcheck.cfg
