# Configuration for slapdcheck package
# {{ ansible_managed }}

[slapdcheck]

# Path name of state file
state_file: {{ slapdcheck_state_file }}

# LDAP URI for local connection over IPC (Unix domain socket)
ldapi_uri = {{ openldap_ldapi_uri }}

# LDAPS URL for checking local TLS connection
ldaps_uri = {{ slapdcheck_ldaps_uri }}

# expected authz-Id returned for LDAPS connection
ldaps_authz_id = {{ slapdcheck_authz_id }}

# Timeout in seconds when connecting to local and remote LDAP servers
# used for ldap0.OPT_NETWORK_TIMEOUT and ldap0.OPT_TIMEOUT
ldap_timeout = 4.0

# trace_level used for LDAPObject instances
ldap0_trace_level = 0

# Timeout in seconds when connecting to slapd-sock listener
slapd_sock_timeout = 2.0

# at least search root entry should be present
minimum_entry_count = 50

# maximum percentage of failed syncrepl providers when to report error
syncrepl_provider_error_percentage = 50.0

# acceptable count of all outstanding operations
# Using None disables checking the warn/critical level
ops_waiting_warn = 30
ops_waiting_crit = 60

# number of minimum connections expected
# if real connection count falls below this treshold it could mean
# that slapd is not reachable from LDAP clients
connections_warn_lower = {{ slapdcheck_cfg_connections_warn_lower }}
# warn if this percentage of max. file descriptors is reached
connections_warn_percentage = 80.0

# Tresholds for thread-count-related warnings
# There should always be at least one active thread
threads_active_warn_lower = 1
# This should likely match what's configured in slapd.conf
threads_active_warn_upper = {{ openldap_threads }}
# Too many pending threads should not occur
threads_pending_warn = {{ openldap_threads // 2 }}

# days to warn/error when checking server cert validity
cert_error_days = 10
cert_warn_days = 50

{% if openldap_role=="provider" %}
# minimum and maximum possible values for serverID
server_id_min = {{ slapdcheck_cfg_server_id_min }}
server_id_max = {{ slapdcheck_cfg_server_id_max }}
{% endif %}
