#!/bin/sh
# shell wrapper script for generating OpenMetrics output
# {{ ansible_managed }}

# disable use of ldap.conf
LDAPNOINIT=1
export LDAPNOINIT

# some env vars set for Python interpreter
{% for evar in aedir_python_env %}
{{ evar.name }}={{ evar.value }}
export {{ evar.name }}
{% endfor %}

{{ aedir_python }} -m slapdcheck.metrics {{ aedir_etc }}/slapdcheck.cfg