#!/bin/sh
# shell wrapper script to be used as local MRPE check with checkmk
# (see also: https://checkmk.com/integrations/mrpe)
#
# {{ ansible_managed }}

# disable use of ldap.conf
LDAPNOINIT=1
export LDAPNOINIT

{{ aedir_python }} -m slapdcheck.mrpe {{ aedir_etc }}/slapdcheck.cfg
