#---------------------------------------------------------------------------
# Index configuration
#---------------------------------------------------------------------------

# general eq-only indexes

index gidNumber eq
index member eq
index memberOf eq
index memberUid eq
index modifyTimestamp eq
index nickName eq
index objectClass eq
index seeAlso eq
index sudoUser pres,eq
index uid eq
index uidNumber eq
# mainly for syncrepl
index entryCSN eq
index entryUUID eq

# for host and network management
index aeFqdn sub,eq,pres
index host sub,eq
index ipHostNumber eq,pres
index macAddress eq

# for aeUser
index aeRemoteHost pres,eq

# sub and eq indexes
index cn sub,eq
index mail sub,eq

# service groups
index aeLoginGroups eq
index aeProxyFor pres,eq
index aeRequires eq
index aeSSHProxyCommand pres,eq,sub
index aeVisibleGroups eq
index aeVisibleSudoers eq

# service attributes
index aeHost eq

# login-related attributes
index authTimestamp pres,eq
index pwdChangedTime pres,eq
index pwdFailureTime pres,eq

# for person/employee references
index aePerson eq

# Meta data
index aeTag eq,sub
index aeTicketId eq

# hardware devices
index aeHwSerialNumber eq,sub
index serialNumber eq,sub

