#---------------------------------------------------------------------------
# search/time limits for {{ slapd_aedir_suffix }}
#---------------------------------------------------------------------------

# Maximum number of entries to return from a search operation
sizelimit {{ slapd_openldap_db_params.um.sizelimit }}

# Maximum number of time [secs] slapd will spend answering a search request
timelimit {{ slapd_openldap_db_params.um.timelimit }}

# no limits for AE admins
limits
  group/aeGroup/member="cn=ae-admins,cn=ae,{{ slapd_aedir_suffix }}"
    time=unlimited
    size=unlimited

# no limits for AE auditors
limits
  group/aeGroup/member="cn=ae-auditors,cn=ae,{{ slapd_aedir_suffix }}"
    time=unlimited
    size=unlimited

# no limits for all zone admins
limits
  group/aeGroup/member="cn=ae-all-zone-admins,cn=ae,{{ slapd_aedir_suffix }}"
    time=unlimited
    size=unlimited

# no limits for all zone auditors
limits
  group/aeGroup/member="cn=ae-all-zone-auditors,cn=ae,{{ slapd_aedir_suffix }}"
    time=unlimited
    size=unlimited

