#---------------------------------------------------------------------------
# replication of {{ slapd_aedir_suffix }}
#---------------------------------------------------------------------------

# syncrepl-Overlay
overlay syncprov
{% if slapd_openldap_db_params.um.syncprov_checkpoint %}
syncprov-checkpoint {{ slapd_openldap_db_params.um.syncprov_checkpoint }}
{% endif %}
{% if slapd_openldap_role=='provider' %}
syncprov-sessionlog {{ slapd_openldap_db_params.um.syncprov_sessionlog }}
{% endif %}
syncprov-nopresent FALSE
syncprov-reloadhint FALSE

{% for provider_replica in slapd_openldap_syncrepl_providers if provider_replica!=inventory_hostname %}
syncrepl rid=0{{ loop.index }}
  provider=ldaps://{{ hostvars[provider_replica].get('slapd_openldap_service_fqdn',provider_replica) }}
  type=refreshAndPersist
  network-timeout={{ slapd_openldap_syncrepl_network_timeout }}
  timeout={{ slapd_openldap_syncrepl_timeout }}
  sizelimit=unlimited
  timelimit=unlimited
  interval=00:00:01:00
  retry="30 +"
  keepalive=240:10:30
  searchbase="{{ slapd_aedir_suffix }}"
  filter="(objectClass=*)"
  scope=sub
  schemachecking=on
  bindmethod=sasl
  saslmech=EXTERNAL
  tls_cacert={{ slapd_openldap_cacert_pathname }}
  tls_cert={{ slapd_openldap_cert_pathname }}
  tls_key={{ slapd_openldap_key_pathname }}
  tls_protocol_min={{ slapd_openldap_syncrepl_tls_protocol_min }}
  tls_cipher_suite={{ slapd_openldap_syncrepl_tls_cipher_suite }}

{% endfor %}

