<figure>
  <a href="#img_{{ img_anchor }}">
    <img class="thumbnail" src="img/{{ img_file }}">
  </a>
  <figcaption>{{ img_title }}</figcaption>
</figure>
<figure class="lightbox" id="img_{{ img_anchor }}">
  <a href="#_">
    <img src="img/{{ img_file }}" title="{{ img_title }}">
  </a>
  <figcaption>{{ img_title }}</figcaption>
</figure>
