#!/bin/bash

# Don't use uninitialized vars
set -o nounset
# After here exit on any error
set -e

{% for db_name, db_params in aedir_db_params.items() %}
echo "Fixing ownership/permissions in directory {{ db_params.directory }}"
chown -c {{ openldap_slapd_user }}:{{ openldap_slapd_group }} {{ db_params.directory }}
chown -c {{ openldap_slapd_user }}:{{ openldap_slapd_group }} {{ db_params.directory }}/*.mdb
chmod -c 0750 {{ db_params.directory }}
chmod -c {{ db_params.mdb_mode }} {{ db_params.directory }}/*.mdb
{% endfor %}
