#!/bin/sh

# Don't use uninitialized vars
set -o nounset
# After here exit on any error
set -e

# strict permissions
umask 077

# current timestamp
DATETIME="$(date +%Y%m%d%H%M%S)"

systemctl stop {{ openldap_service_name }}

{% for db_name, db_params in aedir_db_params.items() %}
# ----------- compact database {{ db_name }} ------------
echo "Compacting DB in directory {{ db_params.directory }}"
old_dir="{{ db_params.directory }}.old-${DATETIME}"
tmp_dir="{{ db_params.directory }}.tmp-${DATETIME}"
mkdir "${tmp_dir}"
{{ mdb_tools_dir }}/mdb_copy -c "{{ db_params.directory }}" "${tmp_dir}"
mv "{{ db_params.directory }}" "${old_dir}"
mv "${tmp_dir}" "{{ db_params.directory }}"
{{ rm_exec }} -rf "${old_dir}"
echo "Fixing ownership/permissions in directory {{ db_params.directory }}"
chown -c {{ openldap_slapd_user }}:{{ openldap_slapd_group }} {{ db_params.directory }}
chown -c {{ openldap_slapd_user }}:{{ openldap_slapd_group }} {{ db_params.directory }}/*.mdb
chmod -c 0750 {{ db_params.directory }}
chmod -c {{ db_params.mdb_mode }} {{ db_params.directory }}/*.mdb
{% endfor %}

systemctl start {{ openldap_service_name }}
