#!/bin/sh

# Don't use uninitialized vars
set -o nounset
# After here exit on any error
set -e

# strict permissions
umask 077

systemctl stop {{ openldap_service_name }}

{% for db_name, db_params in aedir_db_params.items() %}
echo "Re-indexing database {{ db_name }} / {{ db_params.suffix }}"
{{ openldap_path.slapd_exec }} -T index -f "{{ openldap_slapd_conf }}" -b "{{ db_params.suffix }}"
{% endfor %}

systemctl start {{ openldap_service_name }}
