#!/bin/sh

# Don't use uninitialized vars
set -o nounset
# After here exit on any error
set -e

# current timestamp
DATETIME="$(date +%Y%m%d%H%M%S)"

# strict permissions
umask 077

{% for db_name, db_params in aedir_db_params.items() %}
# ----------- export database {{ db_name }} ------------
export_file="{{ openldap_backup_path }}/{{ db_name }}-${DATETIME}.ldif"
echo "Exporting database {{ db_name }} with suffix {{ db_params.suffix }} to ${export_file}"
{{ openldap_path.slapd_exec }} \
  -T cat \
  -f "{{ openldap_slapd_conf }}" \
  -b "{{ db_params.suffix }}" \
  -l "${export_file}"
{% endfor %}

echo "Remove backup files older than {{ openldap_backup_max_days }} days"
find "{{ openldap_backup_path }}" -type f -name "*.ldif*" -mtime +{{ openldap_backup_max_days }} -delete

{% if openldap_backup_compressor %}
echo "Compress LDIF files"
{{ openldap_backup_compressor }} {{ openldap_backup_path }}/*.ldif
{% endif %}
