#!/bin/sh

# Don't use uninitialized vars
set -o nounset
# After here exit on any error
set -e

# strict permissions
umask 077

DB_SUFFIXES="$({{ openldap_path.bin }}/ldapsearch -Q -LLL -b 'cn=config' -s one '(olcSuffix=*)' olcSuffix | grep olcSuffix | cut -d' ' -f2)"

systemctl stop {{ openldap_service_name }}

for db_suffix in ${DB_SUFFIXES}
do
  echo "Re-indexing ${db_suffix}"
  {{ openldap_path.slapd_exec }} -T index -f "{{ openldap_slapd_conf }}" -b "${db_suffix}"
done

systemctl start {{ openldap_service_name }}
