#!/bin/sh

# Don't use uninitialized vars
set -o nounset
# After here exit on any error
set -e

systemctl stop {{ openldap_service_name }}

{% for db_name, db_params in aedir_db_params.items() %}
echo "Delete database files in directory {{ db_params.directory }}"
{{ rm_exec }} -f {{ db_params.directory }}/*.mdb
{% endfor %}

systemctl start {{ openldap_service_name }}
