#-----------------------------------------------------------------------
# initiate:   systemctl enable {{ openldap_service_name }}.service
# start:      systemctl start {{ openldap_service_name }}.service
# get status: systemctl status {{ openldap_service_name }}.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=AE-DIR OpenLDAP server
Requires=local-fs.target network.target
After=local-fs.target network.target
Before=nss-user-lookup.target{{ ' aehostd.service' if getent_passwd.aehostd is defined }}
Wants=nss-user-lookup.target

[Service]
Type={{ openldap_systemd_service_type }}
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
Environment=SASL_CONF_PATH={{ openldap_slapd_conf|dirname }}/sasl2.conf
Environment=LDAPNOINIT=1
PIDFile={{ openldap_rundir }}/slapd.pid
ExecStartPre=+{{ aedir_sbin }}/ae-dir-fix-db-permissions.sh
ExecStart={{ openldap_path.slapd_exec }} -d none -n {{ openldap_service_name }} -l {{ openldap_syslog_facility }} -s {{ openldap_syslog_level }} -f {{ openldap_slapd_conf }} -h '{{ openldap_listen_uris|join(' ')|replace('%','%%') }}' -o slp=off
WorkingDirectory={{ aedir_rundir }}/slapd
ReadWritePaths={{ openldap_rundir }} {{ aedir_db_params.values()|map(attribute='directory')|join(' ') }}
User={{ openldap_slapd_user }}
Group={{ openldap_slapd_group }}
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
LimitNOFILE={{ openldap_limit_nofile }}
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
{% for port in openldap_tcp_ports %}
SocketBindAllow=ipv4:tcp:{{ port }}
SocketBindAllow=ipv6:tcp:{{ port }}
{% endfor %}
{% if aedir_systemd_logging %}
# various logging options from ansible var aedir_systemd_logging
{% for systemd_option in aedir_systemd_logging %}
{{ systemd_option }}
{% endfor %}
{% endif %}
{% if aedir_systemd_hardening %}
# various hardening options from ansible var aedir_systemd_hardening
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
SystemCallFilter={{ systemd_systemcallfilter.slapd }}
SystemCallLog={{ systemd_systemcalllog.slapd }}
{% endif %}
{% if apparmor_enabled %}
AppArmorProfile={{ openldap_service_name }}
{% endif %}

[Install]
WantedBy=multi-user.target
