#-----------------------------------------------------------------------
# initiate:   systemctl enable ekca_agent.service
# start:      systemctl start ekca_agent.service
# get status: systemctl status ekca_agent.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=EKCA key agent
Requires=network.target
After=network.target
Documentation=https://www.ae-dir.com/ekca.html

[Service]
Type=simple
{% for evar in ekca_agent_env %}
Environment={{ evar }}
{% endfor %}
ExecStartPre=/bin/rm -f {{ ekca_agent_socket }}
ExecStart={{ ekca_ssh_agent }}
User=ae-dir-ekca
Group=ae-dir-ekca
CapabilityBoundingSet=
AmbientCapabilities=
RestrictAddressFamilies=AF_UNIX
ReadWritePaths={{ ekca_agent_socket|dirname }}
{% if aedir_systemd_logging %}
# various logging options from ansible var aedir_systemd_logging
{% for systemd_option in aedir_systemd_logging %}
{{ systemd_option }}
{% endfor %}
{% endif %}
{% if aedir_systemd_hardening %}
# various hardening options from ansible var aedir_systemd_hardening
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
PrivateNetwork=yes
IPAddressDeny=any
SystemCallFilter={{ systemd_systemcallfilter.ekca_agent }}
SystemCallLog={{ systemd_systemcalllog.ekca_agent }}
{% endif %}

[Install]
WantedBy=multi-user.target
