#-----------------------------------------------------------------------
# initiate:   systemctl enable oathenroll.service
# start:      systemctl start oathenroll.service
# get status: systemctl status oathenroll.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=oathenroll - OATH-LDAP enrollment web application
Requires=local-fs.target network.target
After=local-fs.target network.target

[Service]
Type=simple
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
Environment=LDAPNOINIT=1
# some env vars set for Python interpreter
{% for evar in aedir_python_env %}
Environment={{ evar.name }}={{ evar.value }}
{% endfor %}
Environment=OATHENROLL_CFG={{ oath_ldap_cfg_dir }}/oathenroll/oathenroll.cfg
Environment=FLASK_ENV=production
ExecStartPre={{ rm_exec }} -f {{ aedir_rundir }}/gunicorn/oathenroll/oathenroll.sock
ExecStart={{ aedir_gunicorn }} --workers={{ oath_ldap_oathenroll_workers }} "oathldap_web.app:create_app()"
WorkingDirectory={{ aedir_rundir }}/gunicorn/oathenroll
User={{ oath_ldap_oathenroll_web_user }}
Group={{ oath_ldap_oathenroll_web_group }}
KillSignal=SIGQUIT
Restart=always
CapabilityBoundingSet=
AmbientCapabilities=
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
{% if aedir_systemd_logging %}
# various logging options from ansible var aedir_systemd_logging
{% for systemd_option in aedir_systemd_logging %}
{{ systemd_option }}
{% endfor %}
{% endif %}
{% if aedir_systemd_hardening %}
# various hardening options from ansible var aedir_systemd_hardening
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
MemoryDenyWriteExecute={{ 'yes' if lsb_id != 'SUSE' or ansible_lsb.description == 'openSUSE Tumbleweed' else 'no' }}
SystemCallFilter={{ systemd_systemcallfilter.gunicorn }}
{% endif %}
{% if apparmor_enabled %}
AppArmorProfile=oathenroll
{% endif %}

[Install]
WantedBy=multi-user.target
