#-----------------------------------------------------------------------
# initiate:   systemctl enable oathenroll.service
# start:      systemctl start oathenroll.service
# get status: systemctl status oathenroll.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=oathenroll - OATH-LDAP enrollment web application
Requires=local-fs.target network.target
After=local-fs.target network.target

[Service]
Type=simple
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
Environment=LDAPNOINIT=1
Environment=PYTHONPATH={{ aedir_etc }}/oathenroll
# some env vars set for Python interpreter
{% for evar in aedir_python_env %}
Environment={{ evar.name }}={{ evar.value }}
{% endfor %}
Environment=LOG_CONFIG={{ aedir_etc }}/ae-logging.conf
Environment=LOG_QUALNAME={{ aedir_logging_qualname }}
ExecStart={{ uwsgi_paths.exec }} --strict --ini {{ aedir_etc }}/uwsgi/oathenroll.ini
User={{ oath_ldap_oathenroll_web_user }}
Group={{ oath_ldap_oathenroll_web_group }}
Restart=always
KillSignal=SIGQUIT
StandardError=syslog
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
{% if apparmor_enabled %}
AppArmorProfile=oathenroll
{% endif %}
{% if aedir_systemd_hardening %}
# various hardening options from ansible var aedir_systemd_hardening
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
{% endif %}
SystemCallFilter={{ systemd_systemcallfilter.default }}

[Install]
WantedBy=multi-user.target
