[Unit]
Description=Run slapdcheck periodically

[Timer]
Unit={{ slapdcheck_service_name }}.service
OnBootSec={{ slapdcheck_interval }}
OnUnitInactiveSec={{ slapdcheck_interval }}
RandomizedDelaySec=2
AccuracySec=2

[Install]
WantedBy=timers.target
