#!/bin/bash
# Load file key into EKCA's ssh-agent
# interactively asks for key passphrase
#
# {{ ansible_managed }}

SSH_AUTH_SOCK="{{ ekca_agent_socket }}"
export SSH_AUTH_SOCK

/usr/bin/ssh-add "{{ ekca_sshca_dir }}/priv/{{ ekca_name }}"
/usr/bin/ssh-add -L
