# include mod_proxy for reverse HTTP proxying
LoadModule proxy_module {{ apache2_config[lsb_id].mod_dir }}/mod_proxy.so
LoadModule proxy_http_module {{ apache2_config[lsb_id].mod_dir }}/mod_proxy_http.so

ProxyRequests Off
ProxyPreserveHost On
