#-----------------------------------------------------------------------
# initiate:   systemctl enable ae-slapd.service
# start:      systemctl start ae-slapd.service
# get status: systemctl status ae-slapd.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=AE-DIR OpenLDAP server
Requires=network.target
After=network.target

[Service]
Type=simple
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
PIDFile={{ openldap_rundir }}/slapd.pid
ExecStart={{ openldap_slapd_exec }} -n ae-slapd -l {{ openldap_syslog_facility }} -s {{ openldap_syslog_level }} -f {{ openldap_slapd_conf }} -h '{{ openldap_listen_urls }}' -o slp=off -u {{ openldap_slapd_user }} -g {{ openldap_slapd_group }}
User=root
Group=root
{% if apparmor_enabled %}
AppArmorProfile=ae-slapd
{% endif %}

[Install]
WantedBy=multi-user.target
