[ req ]

default_bits            = 2048
distinguished_name      = csr_dn
encrypt_rsa_key = no
encrypt_key = no
#attributes = csr_attributes
req_extensions = csr_extensions
default_md = sha1
#string_mask = nombstr
prompt = no

[ csr_dn ]

commonName = "{{ openldap_service_fqdn }}"

[ csr_attributes ]

#challengePassword = A challenge password
#challengePassword_min = 16
#challengePassword_max = 20

[ csr_extensions ]

# include a prompt for alternative names
subjectAltName = {{ openldap_csr_subjectaltnames|join(',')}}
