#
# LDAP Defaults
# See ldap.conf(5) for details
# This file should be world readable but not world writable.
#
# {{ ansible_managed }}

BASE ou=ae-dir
URI ldapi://%2Fusr%2Flocal%2Fopenldap%2Fvar%2Frun%2Fldapi
SASL_MECH EXTERNAL

#SIZELIMIT      12
#TIMELIMIT      15
DEREF          never
