#
# LDAP Defaults
# See ldap.conf(5) for details
# This file should be world readable but not world writable.
#
# {{ ansible_managed }}

BASE {{ aedir_suffix }}
URI {{ openldap_ldapi_uri }}

# use SASL/EXTERNAL mechanism
SASL_MECH EXTERNAL

# TLS cert/key files
TLS_CACERT {{ openldap_cacert_pathname }}
TLS_CERT {{ openldap_cert_pathname }}
TLS_KEY {{ openldap_key_pathname }}

# never dereference aliases
DEREF never
# never follow referrals
REFERRALS off
