# Log rotation config for AE-DIR's service ae-apache
# {{ ansible_managed }}
#
{{ apache_access_log }} {
    compress
    dateext
    maxage 365
    rotate 99
    size=+100k
    notifempty
    missingok
    sharedscripts
    nocreate
    postrotate
      systemctl reload ae-apache.service
      sleep 2
    endscript
}
