# Directory for AE-DIR services
# {{ ansible_managed }}
d {{ aedir_rundir }} 0755 root root
d {{ slapd_check_state_file|dirname }} 0750 root root
d {{ aedir_rundir }}/slapd 0775 root {{ openldap_slapd_group }}
d {{ aedir_rundir }}/{{ oath_bind_listener }} 0750 {{ oath_listener_user }} {{ openldap_slapd_group }}
{% if openldap_role=="provider" %}
# only present on AE-DIR providers
d {{ aedir_rundir }}/apache 0775 root {{ apache_group }}
d {{ aedir_rundir }}/gunicorn 0755 root root
d {{ aedir_rundir }}/gunicorn/web2ldap 0750 {{ web2ldap_user }} {{ apache_group }}
d {{ aedir_rundir }}/gunicorn/oathenroll 0750 {{ oath_ldap_oathenroll_web_user }} {{ apache_group }}
d {{ aedir_rundir }}/gunicorn/ae-dir-pwd 0750 ae-dir-pwd {{ apache_group }}
{% if ekca_enabled %}
d {{ aedir_rundir }}/gunicorn/ekca 0750 ae-dir-ekca {{ apache_group }}
d {{ ekca_agent_socket|dirname }} 0750 ae-dir-ekca ae-dir-ekca
{% endif %}
{% endif %}
