#---------------------------------------------------------------------------
# uwsgi config for {{ name }} service
# {{ ansible_managed }}
#---------------------------------------------------------------------------
[uwsgi]
{% if socket_port %}
socket = 127.0.0.1:{{ socket_port }}
{% else %}
socket = {{ aedir_rundir }}/uwsgi/{{ name }}/{{ name }}.sock
{% endif %}
chmod-socket = 666
#chown-socket = {{ user }}:ae-dir-httpd
chdir = {{ aedir_rundir }}/uwsgi/{{ name }}
module = {{ module }}
stats = 127.0.0.1:{{ stats_port }}
manage-script-name = true
master = {{ master }}
{% if processes >= 1 %}
processes = {{ processes }}
{% endif %}
{% if threads >= 1 %}
threads = {{ threads }}
enable-threads = true
{% endif %}
buffer-size = {{ buffer_size }}
harakiri = {{ harakiri }}
plugin = python
virtualenv = {{ aedir_prefix }}
log-format = %(addr) - %(user) [%(ltime)] "%(method) %(uri) %(proto)" %(status) %(size) "%(referer)" "%(uagent)"
