<h1>{text_heading}</h1>

{text_error}

<h2>Normal use</h2>
<p>
  <a href="/web2ldap?{{ openldap_ldapi_uri }}/{{ aedir_suffix }}????bindname=">Local &AElig;-DIR via LDAPI</a>
  (if in doubt, click this!)
</p>

<h2>&AElig;-DIR providers</h2>
<ul>
{% for replica in openldap_providers %}
  <li>
    <a href="/web2ldap?ldaps://{{ replica }}/{{ aedir_suffix }}????bindname=">&AElig;-DIR on {{ replica }}</a>
  </li>
{% endfor %}
</ul>

<h2>&AElig;-DIR consumers</h2>
<ul>
{% for replica in openldap_consumers %}
  <li>
    <a href="/web2ldap?ldaps://{{ replica }}/{{ aedir_suffix }}????bindname=">&AElig;-DIR on {{ replica }}</a>
  </li>
{% endfor %}
</ul>
