  #----------------------------------------------------------------------
  # Æ-DIR password self-service web application (reverse proxy)
  # {{ ansible_managed }}
  #----------------------------------------------------------------------

  ProxyRequests Off
  ProxyPreserveHost On

  RedirectPermanent /pwd /pwd/
  ProxyPass        /pwd/ http://127.0.0.1:8080/ retry=2 timeout=60

  <Location /pwd>
    # Fix IE problem (http error 408/409)
    SetEnv proxy-nokeepalive 1
{% for require in apache_web2ldap_requires %}
      Require {{ require }}
{% endfor %}
  </Location>
