dn: uid=
objectClass: account
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: aeObject
objectClass: aeUser
objectClass: posixAccount
objectClass: aeSSHAccount
{% if w2ldap_oath_ldap_enabled==True %}
objectClass: oathUser
objectClass: oathHOTPUser
{% endif %}
aeStatus: 0
{% if 'aeUser' in w2ldap_ae_expiry_status_defaults %}
aeExpiryStatus: {{ w2ldap_ae_expiry_status_defaults.aeUser }}
{% endif %}
loginShell: /bin/bash
pwdPolicySubentry: cn=ppolicy-users,cn=ae,{{ w2ldap_aedir_suffix }}
aeNotBefore: now
aeTag: pub-tag-no-welcome-yet

