dn: uid=
objectClass: account
objectClass: aeObject
objectClass: aeService
aeStatus: 0
{% if 'aeService' in ae_expiry_status_defaults %}
aeExpiryStatus: {{ ae_expiry_status_defaults.aeService }}
{% endif %}
uid: system_service_
pwdPolicySubentry: cn=ppolicy-systems,cn=ae,{{ aedir_suffix }}
aeNotBefore: now

