dn: uid=,cn={{ aedir_base_zone }},{{ aedir_suffix }}
objectClass: account
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: aeObject
objectClass: aeUser
objectClass: posixAccount
objectClass: ldapPublicKey
objectClass: inetLocalMailRecipient
aeStatus: 0
description: primary desktop/mailbox account
loginShell: /bin/bash
pwdPolicySubentry: cn=ppolicy-base-users,cn=ae,{{ aedir_suffix }}
aeNotBefore: now

