dn: cn=,cn=ae,{{ aedir_db_params.um.suffix }}
objectClass: aeObject
objectClass: namedPolicy
objectClass: aePolicy
objectClass: pwdPolicy
objectClass: msPwdResetPolicy
aeStatus: 0
pwdAttribute: 2.5.4.35

