dn: uid=
objectClass: account
objectClass: aeObject
objectClass: aeService
objectClass: posixAccount
objectClass: aeSSHAccount
aeStatus: 0
{% if 'aeService' in w2ldap_ae_expiry_status_defaults %}
aeExpiryStatus: {{ w2ldap_ae_expiry_status_defaults.aeService }}
{% endif %}
uid: system_
loginShell: {{ w2ldap_aedir_nologin_shell }}
pwdPolicySubentry: cn=ppolicy-systems,cn=ae,{{ w2ldap_aedir_suffix }}
aeNotBefore: now

