dn: cn=
objectClass: top
objectClass: groupOfEntries
objectClass: aeObject
objectClass: nisMailAlias
objectClass: aeMailGroup
objectClass: mailboxRelatedObject
aeStatus: 0
{% if 'aeMailGroup' in ae_expiry_status_defaults %}
aeExpiryStatus: {{ ae_expiry_status_defaults.aeMailGroup }}
{% endif %}
aeNotBefore: now

