dn: uniqueIdentifier=,cn={{ w2ldap_aedir_org_zone }},{{ w2ldap_aedir_suffix }}
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: aePerson
objectClass: aeObject
objectClass: msPerson
aeStatus: 0
{% if 'aePerson' in w2ldap_ae_expiry_status_defaults %}
aeExpiryStatus: {{ w2ldap_ae_expiry_status_defaults.aePerson }}
{% endif %}
aeSourceUri: https://{{ w2ldap_openldap_service_fqdn }}/web2ldap
aeNotBefore: now
aeDept: departmentNumber=0,cn={{ w2ldap_aedir_org_zone }},{{ w2ldap_aedir_suffix }}
aeLocation: cn=no-location,cn={{ w2ldap_aedir_org_zone }},{{ w2ldap_aedir_suffix }}

