dn: cn=
objectClass: top
objectClass: groupOfEntries
objectClass: aeObject
objectClass: nisMailAlias
objectClass: aeMailGroup
objectClass: mailboxRelatedObject
aeStatus: 0
{% if 'aeMailGroup' in w2ldap_ae_expiry_status_defaults %}
aeExpiryStatus: {{ w2ldap_ae_expiry_status_defaults.aeMailGroup }}
{% endif %}
aeNotBefore: now

