# AppArmor abstraction for external OATH-LDAP bind listener
# {{ ansible_managed }}

  #include <ae-dir/abstractions/python>

  # the demon script
  {{ apparmor_aedir_sbin }}/{{ apparmor_oath_bind_listener }}.py r,

  # access to TLS-related files
  {{ apparmor_openldap_cacert_pathname }} r,

  # allow r/w access to own Unix domain socket
  {{ apparmor_oath_ldap_socket_path }} rw,
