$def with ()
$var title: Password Self Service

<div id="content">

<h1>Overview</h1>

<ul>
  <li>
    <a href="changepw">Change own password</a><br>
    (old password has to be known)
  </li>
  <li>
    <a href="checkpw">Check own password</a><br>
    (password has to be known)
  </li>
</ul>

<p>
  If you forgot your old password or
  you need initial password for a new account
  there is a two-step password reset process:
</p>

<ol>
  <li>
    <a href="requestpw">Request password reset</a><br>
    (you will be sent a new temporary password)
  </li>
  <li>
    <a href="resetpw">Finish password reset</a><br>
    (temporary password has been received before)
  </li>
</ol>

</div>
