$def with (username,message)
$var title: Request password reset

<div id="content">

  <h1>Request password reset</h1>

  $if message:
    <p class="message">$message</p>

  <form method="POST" action="requestpw" enctype="application/x-www-form-urlencoded" accept-charset="utf-8">

    <table summary="Input fields user data">
      <tr>
        <th>
          User name:
        </th>
        <td>
          <input name="username" value="$username" size="25">
        </td>
      </tr>
      <tr>
        <th>
          E-mail address:
        </th>
        <td>
          <input name="email" value="" size="25">
        </td>
      </tr>
    </table>

    <input type="submit" class="submit" name="submit" value="Request">

  </form>

</div>
