dn: uniqueIdentifier=,cn=people,{{ aedir_suffix }}
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: aePerson
objectClass: aeObject
objectClass: msPerson
aeStatus: 0

