dn: uid=
objectClass: account
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: aeObject
objectClass: aeUser
objectClass: posixAccount
objectClass: ldapPublicKey
aeStatus: 0
gidNumber: 10000
loginShell: /bin/bash
pwdPolicySubentry: cn=ppolicy-users,cn=ae,{{ aedir_suffix }}

