<h1>&AElig;-DIR zone</h1>

<p>
  Wiki documentation:
  <a href="https://www.ae-dir.org/docs.html#schema-oc-aeZone">Schema</a> /
  <a href="https://www.ae-dir.org/user.html#web2ldap-add-aeZone">How-To</a>
</p>

<table>
  <tr>
    <td>Zone name (cn):</td>
    <td>%(cn)s</td>
  </tr>
  <tr>
    <td>Status (aeStatus):</td>
    <td>%(aeStatus)s</td>
  </tr>
  <tr>
    <td>Intended purpose (description):</td>
    <td>%(description)s</td>
  </tr>
  <tr>
    <td>Ticket no. last change (aeTicketId):</td>
    <td>%(aeTicketId)s</td>
  </tr>
  <tr>
    <td>Validity period (aeNotBefore..aeNotAfter):</td>
    <td>from %(aeNotBefore)s until %(aeNotAfter)s</td>
  </tr>
  <tr>
    <td>Tag(s) (aeTag):</td>
    <td>%(aeTag)s</td>
  </tr>
</table>
