<h1>&AElig;-DIR server/service group (aeSrvGroup)</h1>

<p>
  Wiki documentation:
  <a href="https://www.ae-dir.org/docs.html#schema-aeSrvGroup">Schema</a> /
  <a href="https://www.ae-dir.org/user.html#web2ldap-add-aeSrvGroup">How-To</a>
</p>

<fieldset>
  <legend>General</legend>
  <table>
    <tr>
      <td>Name of service/host group (cn):</td>
      <td>%(cn)s</td>
    </tr>
    <tr>
      <td>Status (aeStatus):</td>
      <td>%(aeStatus)s</td>
    </tr>
    <tr>
      <td>Intended purpose (description):</td>
      <td>%(description)s</td>
    </tr>
    <tr>
      <td>Ticket no. last change (aeTicketId):</td>
      <td>%(aeTicketId)s</td>
    </tr>
    <tr>
      <td>Validity period (aeNotBefore..aeNotAfter):</td>
      <td>from %(aeNotBefore)s until %(aeNotAfter)s</td>
    </tr>
    <tr>
      <td>Tag(s) (aeTag):</td>
      <td>%(aeTag)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Other system parameters</legend>
  <table>
    <tr>
      <td>Retention period for logs (aeLogRetentionPeriod):</td>
      <td>%(aeLogRetentionPeriod)s</td>
    </tr>
    <tr>
      <td>Used as SSH proxy by (aeProxyFor):</td>
      <td>%(aeProxyFor)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Groups with special rights</legend>
  <table>
    <tr>
      <td>Group(s) with setup right (aeSetupGroups):</td>
      <td>%(aeSetupGroups)s</td>
    </tr>
    <tr>
      <td>Group(s) with log view right (aeLogStoreGroups):</td>
      <td>%(aeLogStoreGroups)s</td>
    </tr>
    <tr>
      <td>Group(s) allowed to log in (aeLoginGroups):</td>
      <td>%(aeLoginGroups)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Visible objects</legend>
  <table>
    <tr>
      <td>Other visible group(s):</td>
      <td>%(aeVisibleGroups)s</td>
    </tr>
    <tr>
      <td>Visible sudo rule(s):</td>
      <td>%(aeVisibleSudoers)s</td>
    </tr>
  </table>
</fieldset>
