<h1>&AElig;-DIR tag</h1>

<p>
  Wiki documentation:
  <a href="https://www.ae-dir.org/docs.html#schema-aeTag">Schema</a> /
  <a href="https://www.ae-dir.org/user.html#web2ldap-add-aeTag">How-To</a>
</p>

<table>
  <tr>
    <td>Tag name (cn):</td>
    <td>%(cn)s</td>
  </tr>
  <tr>
    <td>Description / meaning:</td>
    <td>%(description)s</td>
  </tr>
  <tr>
    <td>Status (aeStatus):</td>
    <td>%(aeStatus)s</td>
  </tr>
</table>
