<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>Æ-DIR</ShortName>
  <LongName>Search Æ-DIR on {{ aedir_provider_lb_hostname }}</LongName>
  <Description>Search Æ-DIR on provider server {{ aedir_provider_lb_hostname }} beneath {{ aedir_db_params.um.suffix }}</Description>
  <Tags>web2ldap</Tags>
  <!--Contact>info@ae-dir.com</Contact-->
  <Url
    type="text/html"
    rel="results"
    template="https://{{ aedir_provider_lb_hostname }}/web2ldap?{{ openldap_ldapi_uri }}/{{ aedir_db_params.um.suffix }}??sub?(|(cn=*{searchTerms}*)(uid={searchTerms})(host={searchTerms}))?bindname="
  />
</OpenSearchDescription>
