<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>Æ on {{ w2ldap_aedir_provider_lb_hostname }}</ShortName>
  <LongName>Search Æ provider on {{ w2ldap_aedir_provider_lb_hostname }}</LongName>
  <Description>Search Æ on provider server {{ w2ldap_aedir_provider_lb_hostname }} beneath {{ w2ldap_aedir_suffix }}</Description>
  <Tags>web2ldap</Tags>
  <!--Contact>info@ae-dir.com</Contact-->
  <Url
    type="text/html"
    rel="results"
    template="https://{{ w2ldap_aedir_provider_lb_hostname }}/web2ldap?{{ w2ldap_openldap_ldapi_uri }}/{{ w2ldap_aedir_suffix }}??sub?(|(cn=*{searchTerms}*)(uid={searchTerms})(host={searchTerms}))?bindname="
  />
</OpenSearchDescription>
